<div class="field is-grouped">
  <div class="control"><strong><%= "#" + slack_channel_name(reminder) %></strong></div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag">祝日の通知</span>
      <% if reminder.holiday_included? %>
        <span class="tag is-primary">ON</span>
      <% else %>
        <span class="tag has-background-grey-light">OFF</span>
      <% end %>
    </div>
  </div>
</div>
<div class="box <%= css_class_status(reminder) %>">
  <article class="media">
    <div class="media-left">
      <figure class="image is-32x32">
        <%= image_tag(slack_emoji_url(reminder), alt: "emoji_#{reminder.icon_emoji}") %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <strong><%= reminder.icon_name %></strong>
        <small><%= day_of_week(reminder) %></small>
        <small><%= reminder.scheduled_time.strftime("%H:%M") %></small>
        <br>
        <%= simple_format(h(reminder.message)) %>
        <% if show_timestamps %>
          <nav class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <small class="is-size-7">
                  <span class="icon"><i class="fas fa-lightbulb"></i></span>
                  <%= reminder.created_at.strftime("%Y-%m-%d %H:%M") %>
                </small>
              </div>
              <div class="level-item">
                <small class="is-size-7">
                  <span class="icon"><i class="fas fa-wrench"></i></span>
                  <%= reminder.updated_at.strftime("%Y-%m-%d %H:%M") %>
                </small>
              </div>
            </div>
          </nav>
        <% end %>
      </div>
      <% if show_thread_reminders %>
        <%= render(partial: 'thread_reminder',
                   collection: reminder.thread_reminders, as: :thread_reminder,
                   locals: {reminder: reminder}) %>
        <br/>
        <nav class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <%= link_to(tag.span(tag.i(nil, class: 'fas fa-plus-circle'), class: 'icon') + 'New Thread Reminder', new_reminder_thread_reminder_path(reminder)) %>
            </div>
          </div>
        </nav>
      <% end %>
    </div>
    <% if show_links %>
      <div class="media-right">
        <%= link_to(tag.span(tag.i(nil, class: 'fas fa-info-circle'), class: 'icon'), reminder_path(reminder)) %>
        <%= link_to(tag.span(tag.i(nil, class: 'fas fa-edit'), class: 'icon'), edit_reminder_path(reminder)) %>
      </div>
    <% end %>
  </article>
</div>
