<% if reminder.errors.present? %>
  <ul>
    <% reminder.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: reminder, local: true) do |f| %>
  <table>
    <tbody>
    <tr>
      <th>曜日</th>
      <td>
        <%= f.check_box :monday_enabled %>
        <%= f.label :monday_enabled, '月' %>
        <%= f.check_box :tuesday_enabled %>
        <%= f.label :tuesday_enabled, '火' %>
        <%= f.check_box :wednesday_enabled %>
        <%= f.label :wednesday_enabled, '水' %>
        <%= f.check_box :thursday_enabled %>
        <%= f.label :thursday_enabled, '木' %>
        <%= f.check_box :friday_enabled %>
        <%= f.label :friday_enabled, '金' %>
        <%= f.check_box :saturday_enabled %>
        <%= f.label :saturday_enabled, '土' %>
        <%= f.check_box :sunday_enabled %>
        <%= f.label :sunday_enabled, '日' %>
      </td>
    </tr>
    <tr>
      <th>時刻</th>
      <td><%= f.number_field :hour %>:<%= f.number_field :minute %></td>
    </tr>
    <tr>
      <th><%= f.label :slack_channel_id, '通知先チャンネル' %></th>
      <td><%= f.select :slack_channel_id, active_slack_channel_list, include_blank: true %></td>
    </tr>
    <tr>
      <th>アイコン</th>
      <td><%= f.text_field :icon_emoji %> <%= f.text_field :icon_name %></td>
    </tr>
    <tr>
      <th><%= f.label :message, 'メッセージ' %></th>
      <td><%= f.text_area :message %></td>
    </tr>
    <tr>
      <th><%= f.label :holiday_included, '祝日の通知' %></th>
      <td><%= f.check_box :holiday_included %></td>
    </tr>
    <% unless reminder.new_record? %>
      <tr>
        <th><%= f.label :status, 'ステータス' %></th>
        <td><%= f.select :status, Reminder.status.values %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= f.submit %>
<% end %>