<% if reminder.errors.present? %>
  <ul>
    <% reminder.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: reminder, local: true) do |f| %>
  <table>
    <tbody>
    <tr>
      <th>曜日</th>
      <td>
        <label for="reminder_monday_enabled">
          <%= f.check_box :monday_enabled %>
          <span>月</span>
        </label>&nbsp;&nbsp;
        <label for="reminder_tuesday_enabled">
          <%= f.check_box :tuesday_enabled %>
          <span>火</span>
        </label>&nbsp;&nbsp;
        <label for="reminder_wednesday_enabled">
          <%= f.check_box :wednesday_enabled %>
          <span>水</span>
        </label>&nbsp;&nbsp;
        <label for="reminder_thursday_enabled">
          <%= f.check_box :thursday_enabled %>
          <span>木</span>
        </label>&nbsp;&nbsp;
        <label for="reminder_friday_enabled">
          <%= f.check_box :friday_enabled %>
          <span>金</span>
        </label>&nbsp;&nbsp;
        <label for="reminder_saturday_enabled">
          <%= f.check_box :saturday_enabled %>
          <span>土</span>
        </label>&nbsp;&nbsp;
        <label for="reminder_sunday_enabled">
          <%= f.check_box :sunday_enabled %>
          <span>日</span>
        </label>
      </td>
    </tr>
    <tr>
      <th>時刻</th>
      <td><%= f.number_field :hour %>:<%= f.number_field :minute %></td>
    </tr>
    <tr>
      <th>通知先チャンネル</th>
      <td><%= f.select :slack_channel_id, active_slack_channel_list, include_blank: true %></td>
    </tr>
    <tr>
      <th>アイコン</th>
      <td>
        <%= f.select :icon_emoji, slack_emoji_list, include_blank: true %> <%= f.text_field :icon_name %>
      </td>
    </tr>
    <tr>
      <th>メッセージ</th>
      <td><%= f.text_area :message %></td>
    </tr>
    <tr>
      <th>祝日の通知</th>
      <td>
        <label for="reminder_holiday_included">
          <%= f.check_box :holiday_included %>
          <span>通知する</span>
        </label>
      </td>
    </tr>
    <% unless reminder.new_record? %>
      <tr>
        <th>ステータス</th>
        <td><%= f.select :status, Reminder.status.values %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= f.submit %>
<% end %>