<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">Reminders</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= link_to 'New Reminder', new_reminder_path, class: 'button is-link' %>
      </div>
      <div class="level-item">
        <%= link_to 'Logs', remind_logs_path, class: 'button' %>
      </div>
    </div>
  </div>
  <table class="table is-fullwidth is-hoverable">
    <thead>
    <tr>
      <th>曜日</th>
      <th>時刻</th>
      <th>通知先チャンネル</th>
      <th>アイコン</th>
      <th>メッセージ</th>
      <th>祝日の通知</th>
      <th>ステータス</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= day_of_week(reminder) %></td>
        <td><%= reminder.scheduled_time.strftime("%H:%M") %></td>
        <td><%= slack_channel_name(reminder) %></td>
        <td><%= "#{reminder.icon_emoji} #{reminder.icon_name}" %></td>
        <td><%= reminder.message %></td>
        <td><%= reminder.holiday_included? ? '通知する' : '通知しない' %></td>
        <td><%= reminder.status %></td>
        <td><%= link_to "-> Detail", reminder_path(reminder) %> <%= link_to '-> Edit', edit_reminder_path(reminder) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
