<h2>Reminder Detail</h2>
<%= link_to '<- Reminders List', reminders_path %>

<table>
  <tbody>
  <tr>
    <th>曜日</th>
    <td><%= day_of_week(@reminder) %></td>
  </tr>
  <tr>
    <th>時刻</th>
    <td><%= format("%02d:%02d", @reminder.hour, @reminder.minute) %></td>
  </tr>
  <tr>
    <th>通知先チャンネル</th>
    <td><%= slack_channel_name(@reminder) %></td>
  </tr>
  <tr>
    <th>アイコン</th>
    <td><%= "#{@reminder.icon_emoji} #{@reminder.icon_name}" %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%= @reminder.message %></td>
  </tr>
  <tr>
    <th>祝日の通知</th>
    <td><%= @reminder.holiday_included? ? '通知する' : '通知しない' %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @reminder.status %></td>
  </tr>
  <tr>
    <th>作成日時</th>
    <td><%= @reminder.created_at %></td>
  </tr>
  <tr>
    <th>更新日時</th>
    <td><%= @reminder.updated_at %></td>
  </tr>
  </tbody>
</table>

<%= link_to '-> Edit', edit_reminder_path(@reminder) %>