<div class="field is-grouped">
  <div class="control"><strong><%= "#" + slack_channel_name(remind_log) %></strong></div>
  <div class="control">
    <%= link_to(tag.span(tag.i(nil, class: 'fas fa-link'), class: 'icon'), remind_log.slack_permalink, target: '_blank') %>
  </div>
</div>
<div class="box">
  <article class="media">
    <div class="media-left">
      <div class="icon-emoji"
           data-emoji-value="<%= remind_log.icon_emoji %>"
           data-is-custom="<%= current_user.slack_emoji_list.member?(remind_log.icon_emoji) %>"
           data-image-url="<%= slack_remind_log_emoji_url(remind_log) %>"
      ></div>
    </div>
    <div class="media-content">
      <div class="content">
        <strong><%= remind_log.icon_name %></strong>
        <small><%= remind_log.created_at.strftime("%Y-%m-%d %H:%M") %></small>
        <br>
        <%= simple_format(h(remind_log.message)) %>
      </div>
    </div>
  </article>
</div>
