<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">RemindLogs</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= link_to 'Reminders', reminders_path, class: 'button' %>
      </div>
    </div>
  </div>
  <table class="table is-fullwidth is-hoverable">
    <thead>
    <tr>
      <th>通知日時</th>
      <th>通知先チャンネル</th>
      <th>アイコン</th>
      <th>メッセージ</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @remind_logs.each do |remind_log| %>
      <tr>
        <td><%= remind_log.created_at %></td>
        <td><%= slack_channel_name(remind_log) %></td>
        <td>
          <article class="media">
            <% unless remind_log.icon_name.empty? %>
              <div class="media-left">
                <figure class="image is-32x32">
                  <%= image_tag(slack_emoji_url(remind_log), alt: "emoji_#{remind_log.icon_emoji}") %>
                </figure>
              </div>
            <% end %>
            <div class="media-content">
              <%= remind_log.icon_name %>
            </div>
          </article>
        </td>
        <td><%= remind_log.message %></td>
        <td><%= link_to "-> Slack", remind_log.slack_permalink, target: '_blank' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
