<h2>ReminderLogs</h2>

<table>
  <thead>
  <tr>
    <th>通知日時</th>
    <th>通知先チャンネル</th>
    <th>アイコン</th>
    <th>メッセージ</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @remind_logs.each do |remind_log| %>
    <tr>
      <td><%= remind_log.created_at %></td>
      <td><%= slack_channel_name(remind_log) %></td>
      <td><%= "#{remind_log.icon_emoji} #{remind_log.icon_name}" %></td>
      <td><%= remind_log.message %></td>
      <td><%= link_to "-> Slack", remind_log.slack_permalink, target: '_blank' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
