<!DOCTYPE html>
<html>
<head>
  <title>ReminderBoy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'Admin::ReminderBoy', admin_root_path, style: 'text-decoration: none; font-size: xx-large;', class: "navbar-item" %>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="admin-navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="admin-navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <% if admin? %>
          <%= link_to 'Users', admin_users_path, class: "navbar-item #{current_page?(admin_users_path) ? 'is-active' : ''}" %>
          <%= link_to 'Sidekiq', admin_sidekiq_web_path, class: "navbar-item #{current_page?(admin_sidekiq_web_path) ? 'is-active' : ''}" %>
      <% end %>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            <div class="is-hidden-touch">
              <span class="icon"><i class="fas fa-user fa-2x"></i></span>
            </div>
            <div class="is-hidden-desktop">
              <span class="icon"><i class="fas fa-user"></i></span>
              Account
            </div>
          </a>

          <div class="navbar-dropdown is-right">
            <% if user? %>
              <%= link_to tag.span(tag.i(nil, class: 'fas fa-cog'), class: 'icon') + 'Settings',
                          account_settings_path, class: "navbar-item"  %>
              <hr class="navbar-divider">
              <% if admin? %>
                <%= link_to tag.span(tag.i(nil, class: 'fas fa-smile'), class: 'icon') + 'To User',
                            root_path, class: "navbar-item has-text-info" %>
                <%= link_to tag.span(tag.i(nil, class: 'fas fa-sign-out-alt'), class: 'icon') + 'Logout',
                            logout_path, method: :delete, class: "navbar-item"  %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>
