<!DOCTYPE html>
<html>
<head>
  <title>ReminderBoy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'Admin::ReminderBoy', admin_root_path, style: 'text-decoration: none; font-size: xx-large;', class: "navbar-item" %>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="admin-navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="admin-navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <% if admin? %>
          <%= link_to 'Users', admin_users_path, class: "navbar-item #{current_page?(admin_users_path) ? 'is-active' : ''}" %>
          <%= link_to 'Sidekiq', admin_sidekiq_web_path, class: "navbar-item #{current_page?(admin_sidekiq_web_path) ? 'is-active' : ''}" %>
      <% end %>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if admin? %>
              <%= link_to 'To User', root_path, class: "button is-info" %>
              <%= link_to 'Logout', logout_path, method: :delete, class: "button is-light"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>
