<!DOCTYPE html>
<html>
  <head>
    <title>ReminderBoy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <%= link_to 'ReminderBoy', root_path, style: 'text-decoration: none; font-size: xx-large;' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if visitor? %>
            <li><%= link_to 'Login', login_path %></li>
          <% else %>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
